@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// Custom Styles

/******************************* VARIABLES **********************************************/
$primary-border: 3px solid $primary-color;
$material-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$material-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$material-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$material-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$material-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/***************************** GLOBAL CLASSES *******************************************/
.card {
    margin-bottom: 1.2rem;
    background: #fff;
    border-radius: 2px;
    box-shadow: $material-shadow-1;
    @media #{$small-only} {
        max-width: 410px;
    }
}

/********************************* FONTS ************************************************/
h1 {
    font-weight: 400;
    font-style: italic;
    color: $primary-color;
    line-height: 1.1;
    font-size: 8vw;
    
    @media #{$large-only} {
        font-size: 5vw;
    } 
    @media #{$xlarge-only} {
        font-size: 5vw;
    }  
    @include breakpoint(2200px) {
        font-size: 7rem;
    }    
}
body {
    background: #e2e1e0;
}

/******************************** HEADER ***********************************************/
#hero:before {
    content:"";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}
#hero {
    background: url("/img/hero-small.jpg") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 1em;
    max-height: 95vh;
    max-width: 2200px;
    display: block;
    overflow: hidden;
    position: relative;

}
#hey {
    color: white;
    position: absolute;
    @media #{$small-only} {
        top: 20%;
        right: 0%;
    }
    @media #{$medium-only} {
        top: 20%;
        right: 0%;
    }   
    @media #{$large-only} {
        top: 15%;
        right: 0%;
    }   
    @media #{$xlarge-up} {
        top: 20%;
        right: 0%;
    }    
    .columns {
        background-color: rgba(0, 0, 0, 0.5);
    }  
    .row {
        margin-right: 0;
    } 
    p {
        @include breakpoint(1600px) {
            font-size: 1.4rem;
        }
    }
}
#large-cta-button {
    position: absolute;
    margin-right: 0;
    bottom: 20%;
    right: 0%;
    width: 100%;
}
#small-cta-button {
    a {
        max-width: 200px;
    }
}

#small-intro {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-left: $primary-border;
    border-right: $primary-border;
    max-width: 490px;
}

.uses-flex {
    @include foundation-flex-grid;
    @include foundation-flex-classes;
}

/******************************** SKILLS & TECH *****************************************/
#skills-tech {
    .card {
        @media #{$medium-up} {
            max-width: 440px;
        }
    }
    h2 {
        border-bottom: $primary-border;
        padding-top: .2rem;
        padding-bottom: .2rem;
        @media #{$medium-up} {
            font-size: 1.3rem;
        }
        @include breakpoint(800px) {
            font-size: 1.4rem;
        }
        @media #{$large-up} {
            font-size: 1.5rem;
        }
    }
}

/******************************** WORK & LEADERSHIP *************************************/
#work-leadership, #education {
    .card {
        padding-top: .5rem;
        .row:last-of-type {
            font-size: .8rem;
            color: gray;
            border-top: 1px solid lightgray;
        }
        @media #{$medium-only} {
            max-width: 86.66vw;
        }
    }
    .card-title {
        border-left: $primary-border;
        padding-left: .5rem;
    }
    h3 {
        margin-bottom: 0; 
    }
    ul {
        margin-bottom: 8px;
    }
    li h4 {
        margin-bottom: 0;
    }
}
#education h3 {
    margin-bottom: 8px;
}
.certifications {
    li:nth-child(even):not(:last-child) {
        border-bottom: 1px solid lightgray;
    }
}
#left-card {
    @media #{$xlarge-up} {
        margin-top: 49.6px;
    }
}

/*********************************** SHOWCASE *****************************************/
#showcase {
    .card {
        padding: 0;
        h3, p {
            padding-left: 10px;
            padding-right: 10px;
        }
        p {
            display: none;
        }
        @media #{$medium-up} {
            max-width: 440px;
        }
    }
    svg {
        fill: gray;
        transition: all 0.2s ease;
    }
    svg.expanded {
        transform: rotate(180deg);
    }
}
.showcase-image {
    width: 100%;
    /*
    @media #{$xlarge-up} {
        
        max-height: 90vh;
    }*/
}
.toggle-click-target {
    cursor: pointer;
}
